@model IEnumerable<Start_1.Models.Order>

@{
    ViewBag.Title = "Просмотр заказов";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Просмотр заказов</h2>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Имя клиента", "OrderView", "Look", new { order = "Person_Id" }, null)
        </th>
        <th>
            @Html.ActionLink("Название фильма", "OrderView", "Look", new { order = "Product_Id" }, null)
        </th>
        <th>
            @Html.ActionLink("Дата начала проката", "OrderView", "Look", new { order = "Date_Begin" }, null)
        </th>
        <th>
            @Html.ActionLink("Дата конца проката", "OrderView", "Look", new { order = "Date_End" }, null)
        </th>
        <th>
            @Html.ActionLink("Цена", "OrderView", "Look", new { order = "Price" }, null)
        </th>
        <th>
            @Html.ActionLink("Закрыт заказ", "OrderView", "Look", new { order = "Complete" }, null)
        </th>
        <th></th>
    </tr>

@foreach (Start_1.Models.Order item in ViewBag.Orders) {
    string p_Name = ViewBag.Products.Find(item.Product_Id).P_Name;
    string name = ViewBag.Clients.Find(item.Person_Id).Name;
    <tr>

        <td>
            @Html.DisplayFor(modelItem => name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => p_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_Begin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_End)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        @if (item.Complete == 1)
        {
            <td>
                @Html.Label("Да");
            </td>
        }
        else
        {
            <td>
                @Html.Label("Нет");
            </td>
        }
        <td>
            @Html.ActionLink("Закрыть", "OrderChange","Home", new { id=item.Order_Id },null)
        </td>
    </tr>
}

</table>
