@model IEnumerable<Start_1.Models.Supplement>

@{
    ViewBag.Title = "Пополнение";
    if (ViewBag.User != null && ViewBag.User.RoleId == 2)
    {
        Layout = "~/Views/Shared/_Layout1.cshtml";
    }
}

<h2>Список продукции для пополнения ассортимента</h2>
@if (ViewBag.User != null && ViewBag.User.RoleId > 1)
{
<p>
    @Html.ActionLink("Сделать заявку на пополнение", "Supple_Get", "Home")
</p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Название фильма", "SuppleView", "Look", new { order = "P_Name" }, null)
        </th>
        <th>
            @Html.ActionLink("Год выпуска", "SuppleView", "Look", new { order = "Year" }, null)
        </th>
        <th>
            @Html.ActionLink("Дата заказа", "SuppleView", "Look", new { order = "Date_Supple_Begin" }, null)
        </th>
        @if (ViewBag.User != null && ViewBag.User.RoleId > 1)
        {

        <th>
            @Html.ActionLink("Дата приобретения", "SuppleView", "Look", new { order = "Date_Supple_End" }, null)
        </th>
        <th>
            @Html.ActionLink("Статус заказа", "SuppleView", "Look", new { order = "Supple_Done" }, null)
        </th>

        <th></th>
        }
    </tr>

@foreach (Start_1.Models.Supplement item in ViewBag.Supplements) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.P_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_Supple_Begin)
        </td>
        @if (ViewBag.User != null && ViewBag.User.RoleId > 1)
        {
        if (item.Date_Supple_End != null)
        {
        <td>
            @Html.DisplayFor(modelItem => item.Date_Supple_End)
        </td>
        }
        else
        {
            <td><p>-</p></td>
        }

        if (item.Supple_Done == 1)
        {
        <td>
            @Html.Label("Доставка выполнена")
        </td>
        }
         else
        {
        <td>
            @Html.Label("Заказ не выполнен")
        </td>
        }

        <td>
            @Html.ActionLink("Закрыть запрос", "Supple_Done", "Home", new { id=item.Supple_Id },null) 
        </td>
        }
    </tr>
}

</table>
